body {
margin: 0px;
padding: 0;
font-family: Font;
color: #e8effa;
overflow-x: hidden;
background: #1C0B36;
-webkit-touch-callout: none;
user-select: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}
a {
text-decoration: none;
}
.iOS {
background: linear-gradient(45deg, rgba(76, 0, 231,.1) 0%, rgba(160, 47, 232,.6) 100%);
border-radius: 25px;
width: 125px;
max-width: 125px;
box-shadow: 1px 2px 10px rgba(160, 47, 232,.6);
font-size: 20px;
font-weight: 600;
color: #e8effa;
}
.snowflakeContainer {
position: absolute;
left: 0px;
top: 0px;
display: none;
visibility: visible;
}
.snowflake {
position: fixed;
background-color: #e8effa;
user-select: none;
z-index: 1000;
pointer-events: none;
border-radius: 50%;
width: 13px;
height: 13px;
}
.search {
position: fixed;
margin: auto;
left: 0;
right: 0;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
background: linear-gradient(45deg, rgba(76, 0, 231,.1) 0%, rgba(160, 47, 232,.6) 100%);
-webkit-backdrop-filter: blur(20px);
backdrop-filter: blur(20px);
box-shadow: 1px 2px 10px rgba(160, 47, 232,.6);
}
@supports (
  (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))
) {
  .top {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #e8effa;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: linear-gradient(45deg, rgba(76, 0, 231,.1) 0%, rgba(160, 47, 232,.6) 100%);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 1px 2px 10px rgba(160, 47, 232,.6);
  }
}
.top h1 {
position: fixed;
top: 5px;
left: 55px;
font-size: 25px;
}
.top Img {
width: 30px;
height: 30px;
border-radius: 50%;
margin-left: 20px; 
}
@font-face {
font-family: Framework7 Icons;
src: url(Framework7Icons-Regular.woff2);
}
@font-face {
font-family: Font;
src: url(Font.TTF);
}
@supports (
  (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))
) {
  .nav {
    font-family: Framework7 Icons;
    justify-content: center;
    position: fixed;
    box-shadow: 1px 2px 10px rgba(160, 47, 232,.6);
    bottom: 0px;
    z-index: 99;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    margin: 5% auto;
    left: 0;
    right: 0;
    width: 65%;
    max-width: 400px;
    background: linear-gradient(45deg, rgba(76, 0, 231,.1) 0%, rgba(160, 47, 232,.6) 100%);
    border-radius: 20px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}
.nav a {
font-size: 45px;
margin: 15.8px;
}
.nav a.active {
color: #1C0B36;
}
.nav a.un-active {
color: #e8effa;
}
.apps {	
width: 85%;
padding: 8px;
border-radius: 15px;
background: linear-gradient(45deg, rgba(76, 0, 231,.1) 0%, rgba(160, 47, 232,.6) 100%);
height: 45px;
margin: 10px;
box-shadow: 1px 2px 10px rgba(160, 47, 232,.6);
}
.apps img {
float: left;
width: 45px;
border-radius: 23.3%;
box-shadow: 1px 2px 10px rgba(160, 47, 232,.6);
}
.apps h1 {
font-size: 17px;
color: #fff;
text-align: justify;
margin-top: 2px;
margin-bottom: 0px;
margin-left: 60px;
}
@supports (
  (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))
) {
  .name {
    position: fixed;
    left: 0%;
    top: 0px;
    width: 100%;
    height: 7%;
    color: rgb(255,255,255,.6);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: linear-gradient(45deg, rgba(76, 0, 231,.1) 0%, rgba(160, 47, 232,.6) 100%);
    box-shadow: 1px 2px 10px rgba(160, 47, 232,.6);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}
.name h1 {
color: #e8effa;;
font-size: 20px;
text-align: center;
}
.name a {
text-decoration: none;
color: #1E93FF;
font-size: 40px;
font-family: Framework7 Icons;
-webkit-appearance: none;
float: left;
margin-top: 7px;
margin-bottom: 0px;
}
.top-app {
background: linear-gradient(45deg, rgba(76, 0, 231,.1) 0%, rgba(160, 47, 232,.6) 100%);
padding-bottom: 15px;
border-radius: 25px;
width: 75%;
margin: 10px;
margin-bottom: 30px;
max-width: 475px;
display: inline-block;
box-shadow: 1px 2px 10px rgba(160, 47, 232,.6);
}
.top-app .banner {
width: 100%;
border-top-left-radius: 25px;
border-top-right-radius: 25px;
margin-bottom: 5px;
}
.top-app .icon {
float: left;
margin-left: 10px;
width: 40px;
height: 40px;
border-radius: 23.3%;
box-shadow: 1px 2px 10px rgba(160, 47, 232,.6);
}
.top-app h1 {
font-size: 17px;
font-weight: 600;
margin-left: 60px;
margin-top: 3px;
margin-bottom: 0px;
text-align: justify;
color: #e8effa;
}
.top-app p {
font-size: 14px;
font-weight: 400;
margin-left: 60px;
margin-top: 0px;
margin-bottom: 0px;
color: #e8effa;
text-align: justify;
}
#myInput {	
background-position: 10px 12px;
background-repeat: no-repeat;
width: 45%;
height: 1%;
font-size: 16px;
padding: 10px 17px 10px 37px;
margin-bottom: 9px;
margin: 10px;
border-radius: 20px;
color: #e8effa;
outline: none;
border: none;
background: #1C0B36;
-webkit-backdrop-filter: blur(20px);
backdrop-filter: blur(20px);
box-shadow: 1px 2px 10px rgba(160, 47, 232,.6);
}
#myInput::placeholder {
color: #e8effa;
}
#myUL {
/* Remove default list styling */
list-style-type: none;
padding: 0;
margin: 0;
}
